# Make sure identifiers are not accidently substitued. E.g.
# a = NOW
# b = daystart
# Here, the value of b will be substitued to 
# dNOWstNOWrt
# which was probably not the intention

daystart = NOW/DAY # ... and this is another
weekstart = NOW/WEEK
monthstart = NOW/MONTH
yearstart = NOW/YEAR

dayend = daystart+1DAY
weekend = weekstart+1WEEK
monthend = monthstart+1MONTH
yearend = yearstart+1YEAR

today = [daystart NOW)
thisweek = [weekstart NOW)
thismonth = [monthstart NOW)
thisyear = [yearstart NOW)

entireday = [daystart daystart)
entireweek = [weekstart weekend)
entiremonth = [monthstart monthend)
entireyear = [yearstart yearend)

yesterday = entireday-1DAY
lastweek = entireweek-1WEEK
lastmonth = entiremonth-1MONTH
lastyear = entireyear-1YEAR

monday = [weekstart weekstart+1DAY)
tuesday = monday+1DAYS
wednesday = monday+2DAYS
thursday = monday+3DAYS
friday = monday+4DAYS
saturday = monday+5DAYS
sunday = monday+6DAYS

forraveckan = lastweek
